* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-width {
  max-width: 30%;
}
.border-table {
  border: 2px solid black;
  padding: 5px 10px;
}
.input-width {
  width: 35px;
}
.absolute-pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background-yellow {
  background-color: yellow;
}
.center {
  margin-top: auto;
  margin-bottom: auto;
}
.content-center {
  justify-content: center;
  flex-wrap: wrap;
}
